<a href="https://colab.research.google.com/github/Mahesh9383/Mahesh9383/blob/main/Copy_of_Final_Projcet_1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Studennt Portfolio**

In [ ]:
FirstName= str(input("Enter your FirstName \n"))
LastName=str(input("Enter your LastName \n"))
std=int(input("Enter your Class \n"))
division=str(input("Enter your division \n"))
rollNo=str(input("Enter your RollNo:\n"))
sub1=str(input("Enter your subject1\n"))
sub2=str(input("Enter your subject2\n"))
sub3=str(input("Enter your subject3\n"))
studentPercent=float(input("'Enter Percentage\n"))

Enter your FirstName
Mahesh
Enter your LastName
Gejage
Enter your Class
12
Enter your division
a
Enter your RollNo:
15
Enter your subject1
maths
Enter your subject2
physics
Enter your subject3
Bio
'Enter Percentage
78

In [ ]:
print("Student Details")
print("\n"+"*"*15+"\n")
print("The First Name Of the Student is : "+ name)
print("The Last Name of the Student is : "+ name)
print("Hello"+ FirstName.upper()+"  " + LastName.upper())

print("\n"+"*"*10+"\n")
print(name.upper()+"nis in  "+str(std)," Class & "+division.upper()+" Division.")
print("Roll No :"+str(rollNo))
print(name.upper()+" chosen the below 3 Subjects ")

print("subject 1 :"+sub1)
print("subject 2 :"+sub2)
print("subject 3 :"+sub3)
print(name.upper()+" has scored "+str(studentPercent)+" in the Final Exam")

print("\n"+"*"*10+"\n")
print("Congratulations & Have a successful year ahead")
print("\n"+"*"*10)

Student Details

***************

The First Name Of the Student is : Mahesh
The Last Name of the Student is : Mahesh
HelloMAHESH  GEJAGE

**********

MAHESHnis in  12  Class & A Division.
Roll No :15
MAHESH chosen the below 3 Subjects
subject 1 :maths
subject 2 :physics
subject 3 :Bio
MAHESH has scored 78.0 in the Final Exam

**********

Congratulations & Have a successful year ahead

**********

In [ ]:
print("*"20)

SyntaxError: ignored

In [ ]:
print("*"+str("20"))

*20

In [ ]:
print("*",20)    # for printing str and int "," can also used

* 20

#**Formating strings**

In [ ]:
name="college"
print("The name is "+name)

The name is college

In [ ]:
print("The name is {name}. Hello {name},how are you".format(name=name))

The name is college. Hello college,how are you